.Content{
    padding : 1rem 2rem 2rem;
    margin : 1rem;
    border-radius: 0.5rem;
    min-width: 9rem;
    border: solid 2px rgba(0, 0, 0, 0.05);
    /*border-bottom: solid 4px #f7931a;*/
}
.Content p {
    color:rgba(0,0,0,0.75);

}

.Content-name{
    font-size: 1.25rem;
}


#Bitcoin{
    background-color:#fbe2c3;
    border-bottom: solid 4px #f7931a;
    
}

#Ethereum{
    background-color: rgba(235, 250, 170, 0.795);
    border-bottom: solid 4px  rgba(114, 143, 61, 0.795);

}

#Litecoin{
    background-color: rgba(212, 219, 240, 0.795);
    border-bottom: solid 4px  rgba(94, 106, 173, 0.795);
}